<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="/images/logo.png">
  <!-- For apple devices -->
  <link rel="apple-touch-icon" type="image/png" href="/icon.png" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
    async></script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/f38d3cc82b.js" crossorigin="anonymous"></script>

  <!-- Google  -->
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Custome CSS -->
  <link rel="stylesheet" href="/stylesheets/css/main.min.css" type="text/css">

  <title>Quriny Camp</title>
</head>

<body class="d-flex flex-column h-100" cz-shortcut-listen="true">
  <!-- Header -->
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top py-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          QurinyCamp
        </a>
        <h5 class="mt-2"><a class="navbar-brand" href="/campgrounds">Home</a></h5>


        <!-- Search bar -->
        <form action="/campgrounds" method="GET" class="search">
          <input type="search" class="search-input" name="search" placeholder="Search Campground">
          <button class="search-button" type="submit">
            <i class="fas fa-search" aria-label="submit search"></i>
          </button>
        </form>

        <!-- Form -->
        <div class="d-flex flex-row-reverse bd-highlight">
          <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
            <li><a class="btn btn-md mr-3" href="/signin">Login</a></li>
            <li><a class="btn btn-md btn-success" href="/signup">Join free</a></li>
            <% } else{ %>
            <!-- Button trigger modal -->
            <li>
              <a href="/campgrounds/new" type="button" class="btn " data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-upload fa-lg" data-toggle="tooltip" data-placement="bottom"
                  title="Post new campground"></i>
              </a>
            </li>

            <!-- Button Profile -->
            <div class="btn-group myprofile">
              <i class="fas fa-user-circle fa-2x dropdown-toggle mt- ml-4" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></i>
              <div class="dropdown-menu dropdown-menu-right myprofile-back">
                <button class="dropdown-item" type="button">My Profile</button>
                <button class="dropdown-item" type="button">Setting</button>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </div>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    </nav>
  </header>
  <!-- Message -->
  <div class="container">
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert"><%= success %></div>
    <% } %>
  </div>